<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set home.php as default DirectoryIndex
    DirectoryIndex home.php

    # Route all requests that are not real files/folders to router.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ router.php [QSA,L]
</IfModule>
